<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Validação de formulário</title>
    <link rel="stylesheet" href="../../public/css/index.css"/>
    <link rel="stylesheet" href="../../public/css/about.css"/>
   
    
    <script></script>
</head>

<body>
    
    
     <div id="pag">
          <nav>
		<a href="#">SOBRE</a>
        <ul>           
            <li> <a href="index.html"> HOME </a></li>           
            <li> <a href="cadastro.html"> CADASTRO </a></li>
            <li> <a href="about.html"> SOBRE </a></li>
        </ul>
		</nav>
        <header id="logo"> </header>
        <div id="banner" style="     text-align:center">
            <div id="titulo">
                <br />
                <h1>Regina Lacerda Pinheiro Araújo</h1>
            </div>
        </div>
        <section id="menu">
            <header>
                <h2>Página Pessoal</h2>
            </header>
            
            <h2>Dados Pessoais</h2>
            <ul>
                <li>Regina lacerda Pinheiro, Casada, 41 anos <br>
                Campinas - SP
                </li>
            </ul>


            <h2>Escolaridade</h2>
            <ul>
                <li>Graduando em Análise e Desenvolvimento de Sistemas <br>
                IFSP - Campinas SP.
                </li>
            </ul>


            <h2>Experiências Profissionais</h2>
            
            <h4>Laboratório de Redes de Comunicações - LARCOM </h4>
             <ul>
                <li>Estagiária - LarCom - Unicamp</li>
                <li>Desenvolvimento web</li>
                <li>Ciências de Dados</li>
                <li> Metodologias Ágeis</li>
                <li>Casos de Teste</li>
                <li> Plano de Teste</li>
                <li> Avaliar os resultados dos Testes</li>
                <li>Atribuição de tarefas</li>
            
             </ul>      

        </section>
        <aside id="conteudo">
            <h3>Sobre Me</h3>
            <a href="https://www.facebook.com/ginaldoces" target="_blank">Outras Atividades</a>
            <p>Abra espaço para tudo o que tem o poder de alegrar, expandir e acalmar o coração.
                <br>Gerhardt Tersteegen</p>
            <img src="../../public/img/familia.jpg" width="380" height="300">

        </aside>
        <footer id="rodape">
            <p>Copyright &copy; 2020 -  Com 💕💕 By Regina Lacerda Pinheiro </p>
            <a href="https://github.com/ReginaLPA" target="_blank">Github</a>
        </footer>

    </div>
   
</body>   
</html>
