<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Validação de formulário</title>
   
     <link rel="stylesheet" href="../../public/css/index.css"/>
  
    <script></script>
</head>

<body>
 <div id="pag">
    <nav id="menu">
		<a href="/">HOME</a>
        <ul>           
            <li> <a href="index.html"> HOME </a></li>           
            <li> <a href="cadastro.html"> CADASTRO </a></li>
            <li> <a href="about.html"> SOBRE </a></li>
        </ul>
	</nav>
    
              
   
    <div id= "page">
            <h1>ATIVIDADE DE WEB </h1>
			<p> Para relembrarmos o conteúdo da disciplina DWE.<br> Desenvolvido um site para coletar dados de contato de um usuário. </p>
			<p>Que tenhamos um excelente semestre!</p>
            
       <section id="sobre">		
			<h2>Revisão de Desenvolvimento Web </h2>
	   </section>

       <section id="sobre">
            <h2> Professor: André Luís Bordignon </h2>    
       </section>
       <section id="sobre">
		
			<h2>Disciplina: DSWL6 </h2>
            <h2>Aluna: Regina Lacerda Pinheiro Araújo</h2>
			<p> IFSP - Campinas - SP  </p>
            <p> 2020  </p>          
		
		</section>     
	        
    </div>
   

    <footer>
        <p>Copyright &copy; 2020 -  Com 💕💕 By Regina Lacerda Pinheiro</p>
        <a href="https://github.com/ReginaLPA" target="_blank">Github</a>
	</footer>
</div> 
</body>  
 
</html>