<h1>Formulário com Node.js</h1>
<form  action="/add" method="POST">
            <fieldset id="usuario"> <legend>Identificação do Usuário teste</legend>
            <label for="tname">Nome</label>
            <input type="text" name= "nome"  class="js-input-name"  id= "tname" placeholder="Nome completo" size="20" maxlength="50" required="required"/><br/><br>
                            
            <label for="dtnasc">Data Nascimento</label>
            <input type="date" name= "dtnasc"  class="js-input-date"  id="dtnasc" required="required"/><br>
                          
            </fieldset>
            <input class="botao" id="btn" type="submit" value="Enviar" >
 </form>